.list { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin : 10px 0
}
.container {
    gap: 10px;
    display : flex;
    justify-content : center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}
.title{
    font-size: 16px;
    text-align: center;
    align-self: center;
    margin-top: 10px;
    background-color: rgba(1, 142, 140, 0.274);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px 2px rgba(0, 150, 00, 0.7) ;
}
.image {
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 170px;
}