@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: rgba(255, 217, 0, 0.255);
}
.btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
.page {
  padding: 20px;
  margin-top: 70px;
}